<!doctype html>
<html lang="en" th:with="timestamp=${timestamp}, exception=${exception}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>404 오류입니다</h1>

    <ul>
        <li th:text="'ERROR CODE: ' + ${error}"></li>
        <li th:text="'MESSAGE: ' + ${message}"></li>
        <li th:text="'개발자의 한마디 : ' + ${text}"></li>
    </ul>
</body>
</html>